version: "3.2"

services:
  elasticsearch:
    image: {{ elasticsearch_docker_image }}:{{ elasticsearch_version }}
    deploy:
      mode: replicated
      replicas: {{ elasticsearch_num_nodes }}
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
    networks:
      - elastic_net
{% for net in elasticsearch_networks %}
      - {{ net }}
{% endfor %}
    volumes:
      - {{ elasticsearch_logs_hostpath }}:/var/log/elasticsearch
      - {{ elasticsearch_data_hostpath }}:/var/data/elasticsearch
    environment:
      - "CLUSTER_NAME={{ elasticsearch_cluster_name }}"
      - "NETWORK_HOST={{ elasticsearch_network_host }}"
      - "GATEWAY_EXPECTED_NODES={{ elasticsearch_num_nodes }}"
      - "DISCOVER_ZEN_MINIMUM_MASTER_NODES={{ elasticsearch_zen_min_masters }}"
{% for k, v in elasticsearch_env_vars.items() %}
      - "{{ k }}={{ v }}"
{% endfor %}
    # see also:
    #   * Heap Size. Default: 1G.
    #   * Heap Dump Path. Default: /var/lib/elasticsearch https://www.elastic.co/guide/en/elasticsearch/reference/current/heap-dump-path.html#heap-dump-path
    #   *
{% if elasticsearch_kibana %}
  kibana:
    image: {{ elasticsearch_kibana_docker_image }}:{{ elasticsearch_version }}
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
{% if elasticsearch_kibana_deploy_labels %}
    labels:
{% for key, value in elasticsearch_kibana_deploy_labels.items() %}
      {{ key }}: {{ value }}
{% endfor %}
{%- endif %}
    networks:
      - elastic_net
{% for net in elasticsearch_kibana_networks %}
      - {{ net }}
{% endfor %}
    ports:
      - "5601:{{ elasticsearch_kibana_hostport }}"
    volumes:
      - "{{ elasticsearch_kibana_data_hostpath }}:/usr/share/kibana/data"
    environment:
      - "ELASTICSEARCH_URL=http://elasticsearch:9200"
      - "SERVER_HOST={{ elasticsearch_kibana_network_host }}"
      # This is for a bug: https://discuss.elastic.co/t/kibana-not-working-after-install-x-pack/131435/6
      - "XPACK_REPORTING_ENABLED=false"
{% for k, v in elasticsearch_kibana_env_vars.items() %}
      - "{{ k }}={{ v }}"
{% endfor %}

{%- endif %}

networks:
  elastic_net:
    driver: overlay
{% for net in elasticsearch_networks|list + elasticsearch_kibana_networks|list %}
  {{ net }}:
    external: true

{% endfor %}
